<div class="flex flex-col w-screen h-screen">
  <div class="flex place-content-center w-full h-screen">
    <div
      class="w-[25%] max-h-fit p-[2%] border-solid rounded border-white border-2"
    >
      <form class="w-full" [formGroup]="page">
        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Gym Name</mat-label>
            <input matInput formControlName="gymName" />
            <mat-error *ngIf="getGymName?.invalid && getGymName?.touched">
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Describe your Gym"
            ></textarea>
            <mat-error
              *ngIf="getDescription?.invalid && getDescription?.touched"
            >
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-4">
          <mat-form-field class="appearance-fill w-full">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.name"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getCountry?.invalid && getCountry?.touched">
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-4">
          <mat-form-field (click)="GetCitiesByCountry()" class="w-full">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getCity?.invalid && getCity?.touched">
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Addres</mat-label>
            <input matInput formControlName="addres" />
            <mat-error *ngIf="getAddres?.invalid && getAddres?.touched">
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Price</mat-label>
            <input
              matInput
              placeholder="Price Per Month"
              formControlName="price"
            />
            <mat-error *ngIf="getPrice?.invalid && getPrice?.touched">
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Type of Money</mat-label>
            <!-- <input matInput formControlName="typeOfMoney" /> -->
            <mat-select formControlName="typeOfMoney">
              <mat-option value="USD">USD</mat-option>
              <mat-option value="EUR">EUR</mat-option>
              <mat-option value="RON">RON</mat-option>
            </mat-select>
            <mat-error
              *ngIf="getTypeOfMoney?.invalid && getTypeOfMoney?.touched"
            >
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <mat-form-field class="w-full">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" />
            <mat-error
              *ngIf="getPhoneNumber?.invalid && getPhoneNumber?.touched"
            >
              This field is mandatory!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-4">
          <ul>
            <li>
              <mat-checkbox
                formControlName="isCreditCardPaymentPossible"
                color="primary"
                >You can pay with your card?</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox formControlName="hasSevenCard" color="primary"
                >You can use Seven Card?</mat-checkbox
              >
            </li>
          </ul>
        </div>
        <div class="flex mt-4 place-content-center mb-0 pb-0">
          <button
            class="bg-blue-700 text-ellipsis text-white p-2 rounded-md w-1/2"
            [disabled]="page.invalid"
            (click)="SendInfo()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
