<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto xl:px-32 text-center lg:text-left">
      <div class="grid lg:grid-cols-2 flex items-center">
        <div class="mb-12 lg:mb-0">
          <div
            class="block rounded-lg shadow-lg px-6 py-12 lg:py-6 xl:py-12 md:px-12 lg:-mr-14"
            style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
            "
          >
            <h3 class="text-2xl font-bold mb-3">
              We know how valuable your time is
            </h3>
            <h5 class="text-lg text-blue-600 font-bold mb-12 lg:mb-10 xl:mb-12">
              Let us answer your questions
            </h5>

            <p class="font-bold mb-4">The porpose of the application?</p>
            <p class="text-gra-500 mb-6">
              We want to offer you a platform where you can find the best
              trainers in your area and also to offer you the best training
              programs and the best gyms in your area.
            </p>

            <p class="font-bold mb-4">The trainer and gyms are verified?</p>
            <p class="text-gra-500 mb-6">
              At the current moment we are verifyng them manualy, but in the
              future we will have a system that will verify them automaticaly.
            </p>

            <p class="font-bold mb-4">How to contact us?</p>
            <p class="text-gra-500">
              You can contact us by accessing the Contact page from the nav bar.
              You can contact us by email or by phone for any questions or
              problems you have. We will respond as soon as possible.
            </p>
          </div>
        </div>

        <div>
          <img
            [src]="'assets/img/GymAboutUs.jpg'"
            class="w-full rounded-lg shadow-lg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
